

@media (max-width:768px){


    .intergate-holder {
      
        margin-bottom: 0;
        
    }
    .header-caption {
        text-align: left;
        position: absolute;
        top: 10%;
        cursor: pointer;
        left: 52%;
        transform: translate(-100%,100%);
    }
    .intergate-clintes {
        padding: 70px 0px;
        
    }
    .booking-interface h1, .retail-interface h1{
        text-align: center;

    }
    .booking-interface p, .retail-interface p{
        text-align: center;
    }

    h1 br {
        display: none;
    }

}
@media (max-width:414px){
    .header-caption {
       
        top: 5%;
       
        left: 88%;
    }


    .slick-dots li button:before {
       
        color: #ffffff;
        margin-top: 20px;
    }
    .slick-dots li button:before {
        font-size: 18px;
   
    }

    .intergate-holder {
        border-radius: 0;
        box-shadow: none;
        padding: 10px;
        border: 0;
        margin-bottom: 0;
        

    }
    .booking-interface img, .retail-interface img{
        margin-top: 40px;

    }
    .intergate-clintes .slick-prev , .intergate-clintes  button.slick-arrow.slick-next{
        display: none !important;
    }

    .slick-dots li button:before {
    
        opacity: 1;
        color: #ffffff;
      
    }

    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #ffc200;
    }   
    h1 br {
        display: none;
    }

.getstarted-join .ant-select-selection--single {
    
    border: 0;
    font-size: 24px;

    width: 100%;
    margin-bottom: 29px;
}
.getstarted-join .ant-select.ant-select-enabled{
    width: 100%;
    margin-right: 0;

}

.intergate-title h3 {
    font-size: 23px;
    text-transform: uppercase;
    border-bottom: solid 1.5px #ffffff;
    line-height: 70px;
    color: #fff;
    display: inline-block;
    margin-bottom: 50px;
}


.booking-interface, .retail-interface{
    margin: 10px 0;
}
.booking-interface p, .retail-interface p{
    text-align: center;
}
.booking-interface__button button.ant-btn.ant-btn-primary, .retail-interface__button button.ant-btn.ant-btn-primary{
    margin-bottom: 30px;
}
.booking-interface h1, .retail-interface h1 {
    line-height: 48px;
    font-size: 31px;
    text-align: center;
}

.intergate-clintes {
    padding-bottom:70px;
    padding-top: 0;
}
}