
/* start WE INTEGRATE WITH HARDWARES */

.booking-interface , .retail-interface  {
    color: #fff;

        margin: 130px 0px;
}

.booking-interface p , .retail-interface p  {
text-align: left;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #ffffff;
    line-height: 26px;

    text-transform: uppercase;
  }

.booking-interface h1  , .retail-interface h1{
    font-size: 33px;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    font-weight: 700;
}
.booking-interface img  , .retail-interface img{
    width: 100%;
}



.booking-interface__button button.ant-btn.ant-btn-primary  , .retail-interface__button button.ant-btn.ant-btn-primary{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: normal;
    color: #191b2a;
    width: 140px;
    height: 52px;
    border-radius: 8px;
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.85);
    background-color: #ffc200;
    border: 0;
    text-transform: uppercase;
    margin-top: 30px;
}

/* end section celever interface */

