
/* Start footer */

.footer-logo img {
    width: 30px;
  }
  
  .footer h3 {
    font-family: Barlow;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
  
    color: rgba(9, 11, 23, 0.79);
  }
  
  
  .footer p {
  
    font-size: 17px;
    color: rgba(9, 11, 23, 0.79);
    font-weight: 300;
    margin-bottom: 9px;
  
  }
  
  
  .footer {
    padding: 44px 0;
    background-color: #ffd763;
  }
  
  
  
  /* end  footer */
  