

/*  start section get started */


.getstarted{
    margin-top: 50px;
  }
  
  
  .getstarted h1 , .getstarted p  {
      color: #fff;
  }
  .getstarted h1 {
      font-size:35px;
      text-transform: uppercase;
      border-bottom: solid 1.5px #ffffff;
      display: inline-block;
      line-height: 96px;
  }
  .getstarted p {
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.6px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 27px;
      margin-bottom:48px;
  }
  
  .getstarted-join .ant-select-selection--single {
      position: relative;
      cursor: pointer;
      /* background: red; */
      border: 0;
      width: 410px;
      height: 54px;
      border-radius: 8px;
      box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.85);
      background-color: #ffc200;
      border: 0;
      /* font-size: 23px; */
      font-size: 27px;
      font-weight: 300;
      text-transform: uppercase;
      padding: 13px 20px;
      color: #191b2a;
      margin-right: 20px;
  }
  
  .getstarted-join .ant-select.ant-select-enabled {
      width: 410px;
      margin-right: 30px;
  }
  
  .getstarted-join i.anticon.anticon-down.ant-select-arrow-icon{
      background:  url("../../../img/down.png") ;
      background-repeat: no-repeat !important;
      content: '';
      color: #ffc20000;
      /* width: 60px; */
      /* height: 40px; */
      width: 25px;
      height: 50px;
      margin-right: 15px;
      background-size: contain;
  }
  
  
   .ant-select-dropdown-menu-item {
     
      color: #fff;
      font-size: 19px;
      background-color: #ffc200 !important;
      border-radius: 4px;
      padding: 20px !important;
      border: 0 !important;
  }
  .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
      background-color: transparent;
      border-bottom: 2px solid #191b2a6e;
      border-radius: 8px;
  
  }
  .ant-select-dropdown-menu-item {
      color: #000;
      font-weight: 300;
      font-size: 24px;
      text-transform: uppercase;
      text-indent: 10px;
      transition: 0.3s;
  }
  
  .getstarted-join button.ant-btn.ant-btn-primary {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: normal;
      color: #191b2a;
      width: 140px;
      height: 52px;
      border-radius: 8px;
      box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.85);
      background-color: #ffc200;
      border: 0;
      text-transform: uppercase;
  }
  /* end section get started */
  