/* Start Integrate Hardwares */

.intergate-title h3 {
    font-size: 35px;
    text-transform: uppercase;
    border-bottom: solid 1.5px #ffffff;
    line-height: 96px;
    color: #fff;
    display: inline-block;
margin-bottom: 90px;
}
.intergate img {
    height: 89px;

}
.intergate-icon h3{
  font-family: Barlow;
  font-size: 30px;
  font-weight: 300;
  border:0;
  margin-top: 34px;
text-transform: uppercase;
  color: #ffffff;
}

.intergate-holder {
    border-radius: 8px;
    box-shadow: 4px 4px 4px 2px rgba(9, 11, 23, 0.79), 1px 1px 4px 3px rgba(9, 11, 23, 0.79);
    border: solid 0.3px #ffffff;
    background-color: #191b2a;
    padding: 40px;
    border: 1px solid #ffffff3d;
    margin-bottom: 95px;

}





/* End Integrate Hardwares */

